.container{
	background-color: #3284BF	;
	height: 100vh;
}
.background{
	z-index: 0;
	position: absolute;
}
html, body {
	height: 100%;
	overflow-y:hidden;
}
.title{
	z-index: 1;
	position: relative;
	text-align: center;
	padding-top: 30vh;
}